/* untuk jadwal mumet */

.jadwal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

.tabel-jadwal {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.tabel-jadwal thead tr {
    background-color: #153954;
    color: #ededed;
    text-align: left;
}

.tabel-jadwal th,
.tabel-jadwal td {
    padding: 12px 15px;
}

.tabel-jadwal tbody tr{
    background-color: #67C6E3;
    color: black;
}
.tabel-jadwal tbody tr {
    border-bottom: 1px solid #ededed;
}

.tabel-jadwal tbody tr:nth-of-type(even) {
    color: black;
    background-color: #B3C8CF;
}

@media screen and (max-width: 768px) {
    .tabel-jadwal {
        font-size: 0.8em; 
    }
    .tabel-jadwal th,
    .tabel-jadwal td {
        padding: 8px 10px; 
    }
}