@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: #ededed;
    background: #153954;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo  {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #153954;
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
}

.navbar a:hover,
.navbar a:active {
    color: #00abf0;
}


/* home */
.home {
    height: 100vh;
    background: url(/img/bg3.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
}


.home-content h3 {
    font-size: 26px;
    font-weight: 700;
    color: #00abf0;
    margin-bottom: 20px;
}


.home-content p {
    font-size: 16px;
    margin: 20px o 40px;
    line-height: 1.2;
    margin-top: 5px;
}


/* btn-home */
.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 35px;
    margin-top: 20px;
}

.btn-box a {
    position: relative;
    justify-content: center;
    justify-items: center;
    display: inline-flex;
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    font-weight: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover:before {
    width: 100%;
}


/* hover untuk efek gambar bg untuk home */
.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover {
    background: #153954;
    opacity: .8;
}




/* untuk profile */

.profile {
    padding: 70px 10% 50px;
    text-align: center;
    margin-top: 20px;
}

.profile-card {
    display: flex;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    background-color: #143e5f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.profile-img {
    flex: 1;
}

.profile-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.profile-info {
    flex: 3;
    text-align: left;
    padding: 20px;
}

.profile-info table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.profile-info td {
    padding: 8px 0;
}

.profile-info td:first-child {
    font-weight: bold;
    width: 30%;
}

.profile-info td:last-child {
    width: 70%;
}


/* untuk about */

.about {
    padding: 50px 10%;
    margin-top: 40px; 
}

.card h1 {
    font-size: 36px;
    color: #ededed;
    margin-bottom: 20px;
    
}

.about p {
    font-size: 18px;
    color: #ededed;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: justify;
}

.card {
    background-color: #143e5f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.card p {
    font-size: 16px;
    color: #ededed;
    margin-bottom: 20px;
}

/* untuk jadwal mumet */

.jadwal {
    position: relative;
    max-width: 1020px;
    margin: 100px auto;
}

.jadwal h1 {
    font-size: 24px; 
    margin-bottom: 50px; 
    color: #ededed; 
}
.container-jadwal {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container-jadwal:nth-child(1) {
    animation-delay: 0s;
}

.container-jadwal:nth-child(2) {
    animation-delay: 1s;
}

.container-jadwal:nth-child(3) {
    animation-delay: 2s;
}

.container-jadwal:nth-child(4) {
    animation-delay: 3s;
}

.container-jadwal:nth-child(5) {
    animation-delay: 4s;
}

.text-box {
    padding: 20px 30px;
    color: #081b29;
    background: #ededed;
    position: relative;
    border-radius: 6px;
    font-size: 15px;  
    display: flex;
    flex-direction: column;
}

.kiri {
    left: 0;
}

.kanan {
    left: 50%;
}

.s-icon {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #081b29;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: -15px;
    top: 32px;
    z-index: 10;
}

.kanan .s-icon {
    left: -15px;
}

.jadwal::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #ededed;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.text-box h2 {
    font-weight: 600;
}

.text-box h3 {
    margin-top: 0; 
}

.text-box small {
    display: inline-block;
    align-items: center; 
    margin-bottom: 10px; 
}

.text-box small i {
    margin-right: 5px; 
}

.panah-kiri {
    height: 0;
    width: 0;
    position: absolute;
    top: 22px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ededed;
    right: -15px;
}

.panah-kanan {
    height: 0;
    width: 0;
    position: absolute;
    top: 22px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #ededed;
    left: -15px;
}

@media screen and (max-width: 600px) {
    .jadwal {
        margin: 50px auto;
    }
    .jadwal::after {
        left: 31px;
    }
    .container-jadwal {
        width: 100%;
        padding-left: 50px;
        padding-right: 25px;
    }
    .text-box {
        font-size: 12px;
    }
    .text-box small {
        margin-bottom: 10px;
    }
    .kanan, .kiri {
        left: 0;
    }
    .s-icon {
        right: auto;
        left: 15px; 
        top: 32px; 
    }
    
    .container-jadwal .kiri .s-icon {
        right: auto; 
        left: -15px; 
        top: 32px; 
    }

    .panah-kanan, .panah-kiri {
        border-right: 15px solid #ededed;
        border-left: 0;
        left: 15px;
    }
}





/* footer btn sosmed */
.f-btn {
    position: relative;
    top: 5px;
}

.f-btn a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.f-btn a:hover {
    color: #153954;
}

.f-btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.f-btn a:hover:before {
    width: 100%;
}

.footer {
    background-color: #153954 ;
    color: #ededed;
    padding: 20px 10%;
    text-align: center;
}

.footer div {
    font-size: 12px;
}

/* untuk efek logo */
@keyframes showRight {
    0% {
        width: 100%; 
    }
    100% {
        width: 0; 
    }
}

